{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Многоугольник</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<84ed901f-a57b-4c02-a213-6bcf3f08a149>" type="text/javascript"></script>
  <script src="https://yastatic.net/s3/mapsapi-jslibs/heatmap/0.0.1/heatmap.min.js" type="text/javascript"></script>
<!-- Change my.cdn.tld to your CDN host name -->
<script src="https://yastatic.net/s3/mapsapi-jslibs/area/0.0.1/util.calculateArea.min.js" type="text/javascript"></script>
<script src="https://yastatic.net/s3/mapsapi-jslibs/polylabeler/1.0.1/polylabel.min.js" type="text/javascript"></script>
  <script src="{% static 'main.js' %}" type="module"></script>
  <style>
    html, body, #map {
      width: 100%; height: 100%; padding: 0; margin: 0;

    }
  </style>
</head>
<body>
    <div>
      <input type="checkbox" id="districts" name="districts">
      <label for="districts">Районы</label>
    </div>

    <div>
      <input type="checkbox" id="areas" name="areas">
      <label for="areas">Округа</label>
    </div>
    <div>
      <input type="checkbox" id="population" name="population">
      <label for="population">Население</label>
    </div>
    <div>
        <input type="checkbox" id="heat_map_postamats" name="heat_map_postamats">
        <label for="heat_map_postamats">Тепловая карта постаматов</label>
    </div>
    <div>
        <input type="checkbox" id="heat_map_houses" name="heat_map_houses">
        <label for="heat_map_houses">Тепловая карта домов</label>
    </div>
    <div>
        <input type="checkbox" id="cultures_placemarks" name="cultures_placemarks">
        <label for="cultures_placemarks">Дома культуры</label>
    </div>
    <div>
        <input type="checkbox" id="gosuslugies_placemarks" name="gosuslugies_placemarks">
        <label for="gosuslugies_placemarks">МФЦ</label>
    </div>
    <div>
        <input type="checkbox" id="libraries_placemarks" name="libraries_placemarks">
        <label for="libraries_placemarks">Библиотеки</label>
    </div>
    <div>
        <input type="checkbox" id="prints_placemarks" name="prints_placemarks">
        <label for="prints_placemarks">Печатные</label>
    </div>
    <div>
        <input type="checkbox" id="shops_placemarks" name="shops_placemarks">
        <label for="shops_placemarks">Торговые объекты</label>
    </div>
    <div>
        <input type="checkbox" id="sports_placemarks" name="sports_placemarks">
        <label for="sports_placemarks">Спортивные комплексы</label>
    </div>
    <div>
        <input type="checkbox" id="disselect" name="disselect">
        <label for="disselect">Выбрать район</label>
    </div>
    <div>
        <select id="selectiondistricts" multiple>
<option value="0">район Внуково</option>
<option value="1">район Кунцево</option>
<option value="2">район Восточный</option>
<option value="3">район Метрогородок</option>
<option value="4">район Крылатское</option>
<option value="5">Мещанский район</option>
<option value="6">район Сокольники</option>
<option value="7">район Хорошёво-Мнёвники</option>
<option value="8">район Щукино</option>
<option value="9">район Строгино</option>
<option value="10">район Митино</option>
<option value="11">район Куркино</option>
<option value="12">район Кузьминки</option>
<option value="13">Донской район</option>
<option value="14">район Левобережный</option>
<option value="15">район Ховрино</option>
<option value="16">район Западное Дегунино</option>
<option value="17">Тимирязевский район</option>
<option value="18">район Коптево</option>
<option value="19">Дмитровский район</option>
<option value="20">район Северное Тушино</option>
<option value="21">район Сокол</option>
<option value="22">район Савёловский</option>
<option value="23">район Отрадное</option>
<option value="24">Молжаниновский район</option>
<option value="25">район Северный</option>
<option value="26">район Восточное Дегунино</option>
<option value="27">Головинский район</option>
<option value="28">район Беговой</option>
<option value="29">Хорошёвский район</option>
<option value="30">Войковский район</option>
<option value="31">район Аэропорт</option>
<option value="32">район Южное Тушино</option>
<option value="33">район Покровское-Стрешнево</option>
<option value="34">Бескудниковский район</option>
<option value="35">Алтуфьевский район</option>
<option value="36">район Лианозово</option>
<option value="37">район Бибирево</option>
<option value="38">район Северное Медведково</option>
<option value="39">район Южное Медведково</option>
<option value="40">район Фили-Давыдково</option>
<option value="41">район Филёвский Парк</option>
<option value="42">район Дорогомилово</option>
<option value="43">район Раменки</option>
<option value="44">район Солнцево</option>
<option value="45">Ново-Переделкино</option>
<option value="46">Ярославский район</option>
<option value="47">район Ростокино</option>
<option value="48">район Текстильщики</option>
<option value="49">район Люблино</option>
<option value="50">район Капотня</option>
<option value="51">район Марьино</option>
<option value="52">район Печатники</option>
<option value="53">район Нагатинский Затон</option>
<option value="54">район Москворечье-Сабурово</option>
<option value="55">район Орехово-Борисово Северное</option>
<option value="56">район Орехово-Борисово Южное</option>
<option value="57">район Зябликово</option>
<option value="58">район Братеево</option>
<option value="59">район Нагатино-Садовники</option>
<option value="60">Нагорный район</option>
<option value="61">район Чертаново Северное</option>
<option value="62">район Выхино-Жулебино</option>
<option value="63">район Вешняки</option>
<option value="64">район Бирюлёво Восточное</option>
<option value="65">район Царицыно</option>
<option value="66">район Бирюлёво Западное</option>
<option value="67">район Чертаново Южное</option>
<option value="68">район Чертаново Центральное</option>
<option value="69">район Ясенево</option>
<option value="70">район Тёплый Стан</option>
<option value="71">район Коньково</option>
<option value="72">Алексеевский район</option>
<option value="73">район Свиблово</option>
<option value="74">Останкинский район</option>
<option value="75">район Марфино</option>
<option value="76">район Марьина Роща</option>
<option value="77">Лосиноостровский район</option>
<option value="78">Бутырский район</option>
<option value="79">Бабушкинский район</option>
<option value="80">Рязанский район</option>
<option value="81">район Косино-Ухтомский</option>
<option value="82">район Некрасовка</option>
<option value="83">район Новокосино</option>
<option value="84">район Северное Измайлово</option>
<option value="85">район Восточное Измайлово</option>
<option value="86">район Замоскворечье</option>
<option value="87">район Хамовники</option>
<option value="88">Красносельский район</option>
<option value="89">район Южное Бутово</option>
<option value="90">район Северное Бутово</option>
<option value="91">Можайский район</option>
<option value="92">район Арбат</option>
<option value="93">Тверской район</option>
<option value="94">Пресненский район</option>
<option value="95">Таганский район</option>
<option value="96">район Якиманка</option>
<option value="97">Нижегородский район</option>
<option value="98">район Лефортово</option>
<option value="99">Южнопортовый район</option>
<option value="100">Даниловский район</option>
<option value="101">Академический район</option>
<option value="102">район Черёмушки</option>
<option value="103">Гагаринский район</option>
<option value="104">Ломоносовский район</option>
<option value="105">район Котловка</option>
<option value="106">район Зюзино</option>
<option value="107">Обручевский район</option>
<option value="108">район Проспект Вернадского</option>
<option value="109">Тропарёво-Никулино</option>
<option value="110">район Очаково-Матвеевское</option>
<option value="111">район Новогиреево</option>
<option value="112">район Перово</option>
<option value="113">район Соколиная Гора</option>
<option value="114">район Преображенское</option>
<option value="115">район Богородское</option>
<option value="116">район Гольяново</option>
<option value="117">район Измайлово</option>
<option value="118">район Ивановское</option>
<option value="119">Басманный район</option>
</select>
    </div>
    <div>
        <input type="checkbox" id="areaselect" name="disselect">
        <label for="areaselect">Выбрать округ</label>
    </div>
    <div>
        <select id="selectionarea">
<option value="0">Северный административный округ</option>
<option value="1">Юго-Восточный административный округ</option>
<option value="2">Северо-Западный административный округ</option>
<option value="3">Северо-Восточный административный округ</option>
<option value="4">Южный административный округ</option>
<option value="5">Юго-Западный административный округ</option>
<option value="6">Центральный административный округ</option>
<option value="7">Западный административный округ</option>
<option value="8">Восточный административный округ</option>
            </select>
    </div>
    <div>
        <button id="button-reset" name="reset">Сбросить выбор</button>
    </div>
    <p><input type="range" min="0" max="1000" id="radiusSlider" list="rangeList"> <span id="rangeValue">500</span></p>
    <datalist id="rangeList">
        <option value="0" label="0">
        <option value="250" label="250">
        <option value="500" label="500">
        <option value="750" label="750">
        <option value="1000" label="1000">
    </datalist>
    <button id="execute">Запрос</button>
    <button id="reset">Сбросить</button>
<div id="map"></div>
</body>
</html>
